/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1.list{

  box-sizing: border-box;
  float: left;
  font-size: 12rem;
    margin: auto;
  padding: 2%;
  width: auto%;
 border: 6px solid green;
}

.animated-gif{
  width: 75%
  height: auto;
}
 .centered {
           position: fixed;
           top: 50%;
           left: 50%;
           transform: translate(-45%, -45%);
           width: 80%;
           height: auto;
}
  

       .QQ {
           visibility: hidden;
       }
       .WW{
           visibility: hidden;
       } 
       .EE{
           visibility: hidden;
       }
        .RR{
           visibility: hidden;
       }
        .TT{
           visibility: hidden;
       }
        .YY{
           visibility: hidden;
       }
        .UU{
           visibility: hidden;
       }
        .II{
           visibility: hidden;
       }
        .OO{
           visibility: hidden;
       }
        .PP{
           visibility: hidden;
       }
        .Q{
           visibility: hidden;
       }
        .W{
           visibility: hidden;
       }
        .E{
           visibility: hidden;
       }
        .R{
           visibility: hidden;
       }
        .T{
           visibility: hidden;
       }
        .Y{
           visibility: hidden;
       }
        .U{
           visibility: hidden;
       }
        .I{
           visibility: hidden;
       }
        .O{
           visibility: hidden;
       }
        .P{
           visibility: hidden;
       }
        .A{
           visibility: hidden;
       }
        .S{
           visibility: hidden;
       }
        .D{
           visibility: hidden;
       }
        .F{
           visibility: hidden;
       }
        .G{
           visibility: hidden;
       }
        .H{
           visibility: hidden;
       }
        .J{
           visibility: hidden;
       }
        .K{
           visibility: hidden;
       }
        .L{
           visibility: hidden;
       }
        .Z{
           visibility: hidden;
       }
        .X{
           visibility: hidden;
       }
        .C{
           visibility: hidden;
       }
        .V{
           visibility: hidden;
       }
        .B{
           visibility: hidden;
       }
        .N{
           visibility: hidden;
       }
        .M {
           visibility: hidden;
       }
       
